

		<!-- <div class="widget-container widget_search styled boxed boxed-cream">
			<div class="inner"> -->
				<form action="//google.com/search" method="get" accept-charset="utf-8">
					<div class="clearfix">
						<span class="btn">
							<input type="submit" class="gradient" value="Search">
						</span>
						<div class="field_text">
							<input type="text" placeholder="Type word here" value="" name="search" hidefocus="true" style="outline: medium none;">
						</div>
					</div>
				</form>
			<!-- </div>
		</div> -->
